<div>
  <form id ="emailfield" action="index.html" method="post" style="padding-bottom:10px;">
    <div class="large-12 columns" style="padding-top:10px;">
      <input id ="email" type="email" placeholder="enter a email" >
    </div>
    <div class="small-6 small-centered text-center columns">
      <input type="submit" value="Submit">
      <input type="button" id="reset" value="Reset Forum">
    </div>
  </form>

  <div>
    <form id="information" action="index.html" method="post">
      <div class="small-6 small-centered text-center columns" style="height:150px; width:150px;">
        <img src="<%=image_url('notavailable.png')%>" id="avatar">
      </div>
      <div class="small-12 columns">
        <input type="text" id="emailresult", placeholder="User Email">
      </div>
      <div class="small-6 columns">
        <input type="text" id="firstname", placeholder="First Name">
      </div>
      <div class="small-6 columns">
        <input type="text" id="lastname", placeholder="Last Name">
      </div>
      <div class="small-12 columns">
        <input type="text" id="role", placeholder="Role">
      </div>
      <div class="small-12 columns">
        <input type="text" id="companyname", placeholder="Company Name">
      </div>
    </form>
  </div>
</div>
